body {
    padding: 0;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #0a4d90;
    background-image: url(../images/SDV_background.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  #game-intro {
    padding: 1.5rem;
    background: linear-gradient(45deg, #047734, #0a4d90);
    border-radius: 2rem;
    width: 50%; 
    max-width: 800px;
    height: auto; 
    margin: 0 auto; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    border: 2px solid #000;
  }

  #game-intro h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 4.5rem;
    color: #047734;
    text-shadow: 12px 12px 14px rgba(0,0,0,0.5);
  }

  #game-intro p {
    font-family: 'Cabin', sans-serif;
    line-height: 1.6;
    margin-bottom: 1rem;
    color: white;
  }

  .arrows {
    width: 4rem;
    height: 4rem;
  }

  .ampersand {
    font-family: 'Cabin', sans-serif;
    line-height: 1.6;
    margin-bottom: 1rem;
    color: white;
  }

  #start-button {
    font-family: 'Fredoka One', cursive;
    background-color: #2ecc71;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /*#game-container {
    border-radius: 15px;
    max-width: 600px;
    display: flex;
    width: 100%;
    padding: 30 px;
    justify-content: center;
  }*/

  #stats {
    display: none;
    /*Quand ce sera en flex*/
    flex-flow: row;
    font-family: 'Cabin', sans-serif;
    line-height: 1.6;
    margin-bottom: 1rem;
    color: white;
  }

  #game-screen {
    display: none;
    /*align-content: center;*/
    background: linear-gradient(45deg, #047734, #0a4d90);
    border-radius: 50px;
    /*overflow: hidden;
    position: relative;*/
    width: 800px; 
    height: 700px; 
    margin: 0 auto; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    border: 2px solid #000;
    background-image: url(../images/SDV_grass.png);
    background-size: cover;
    animation: slide 5s linear infinite;
}

@keyframes slide {
    0% {
      background-position: 0 -1000px;
    }
    95% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 50px;
    }
  }


  #victory-screen {
    display: none;
    padding: 2.5rem;
    background: linear-gradient(45deg, #047734, #0a4d90);
    border-radius: 4rem;
    width: 80%; 
    height: auto;
    margin: 0 auto; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    border: 2px solid #000;
  }
  #victory-screen h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    color: #047734;
    text-shadow: 12px 12px 14px rgba(0,0,0,0.5);
  }
  #victory-screen p {
    font-family: 'Cabin', sans-serif;
    line-height: 1.6;
    margin-bottom: 20px;
    color: white;
  }

  #victory-screen button {
    font-family: 'Fredoka One', cursive;
    background-color: #2ecc71;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
    
  #defeat-screen {
    display: none;
    padding: 2.5rem;
    background: linear-gradient(45deg, #047734, #0a4d90);
    border-radius: 4rem;
    width: 80%; 
    height: auto;
    margin: 0 auto; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    border: 2px solid #000;
  }
  #defeat-screen h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    color: #047734;
    text-shadow: 12px 12px 14px rgba(0,0,0,0.5);
  }
  #defeat-screen p {
    font-family: 'Cabin', sans-serif;
    line-height: 1.6;
    margin-bottom: 20px;
    color: white;
  }

  #defeat-screen button {
    font-family: 'Fredoka One', cursive;
    background-color: #2ecc71;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }